

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: calc(16px + (26 - 14) * ((100vw - 200px) / (1980 - 200)));

background-color: #eff2f9 !important;
font-family: "Adelle-Reg" !important;
color: black !important;
transition: all 0.5s ease-in;
}
.css-1bgmkj3[aria-selected=true], .css-1bgmkj3[data-selected] {
  color: red !important;
  border-color: red;
}
/*=========*/
.css-b1cel9{
  background: red !important;
  overflow: auto;
  scroll-snap-align: left;
}
.scroll{
  direction:rtl; 
  overflow:auto; 
  height:50px; 
  width:50px;}








*, *::before, *::after {
  box-sizing: border-box;
}
.flex-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 3em 1em;
}
.flex-container .flex-item {
  margin: 25px;
  border-radius: 2px;
  padding: 4.5em 5em;
  position: relative;
}
.flex-container .flex-item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  transition: 600ms ease;
  border-radius: 0px;
}
.flex-container .flex-item a span {
  transform: translateZ(50px) scale(0.7);
}
.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt:hover {
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
}
.bg-one {
  background: linear-gradient(45deg, #ff194b, #8215f0);
}
.bg-two {
  background: linear-gradient(45deg, #ff5f4b, #821564);
}



.your-element{
  transform-style: preserve-3d;
}
.hi{
  transform: translateZ(20px) scale(0.5);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 50px black;
  width: 30%;
}
.hi:hover{
  transform: scale(1.1);
  transition: all ease-in 0.5s;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(230, 226, 226);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 0, 0);
}